@import "src/scss/variables";


:host {
  .content {
    position: absolute;
    min-width: 150px;
    top: 100%;
    border: 2px solid $primary-color-light;
    border-radius: $border-radius;
    background-color: #291043;
    padding: $md-padding;
    display: none;

    &.open {
      display: block;
    }
  }
}
