@import "src/scss/variables";

:host {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;

  .tg-container {
    overflow-y: auto;

    .tarrget-title {
      align-self: center;
    }

    > tg-card {
      // flex: 1;

      div {
        padding: $sm-padding;
      }
    }
  }

  .gamepad {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;

    &.selected {
      background-color: $primary-color-highlight;
    }
  }
}
