<div class="tg-container">
  <div class="tarrget-title">Settings</div>

  <tg-card title="Site">
    <div content>
      <p class="title small">
        <fa-icon icon="gamepad"></fa-icon>
        Chose your preferred button layout:
      </p>
      <div class="fx spaced row" *ngIf="settingsService.platformInput$ | async as platformInput">
        <!-- PS4 -->
        <tg-button
          [toggleable]="true"
          [active]="platformInput === 'ps4'"
          (click)="settingsService.platformInput = 'ps4'"
        >
          PS4
        </tg-button>

        <!-- XBOX -->
        <tg-button
          [toggleable]="true"
          [active]="platformInput === 'xbox'"
          (click)="settingsService.platformInput = 'xbox'"
        >
          XBOX
        </tg-button>

        <!-- steam / arcade -->
        <tg-button
          [toggleable]="true"
          [active]="platformInput === 'steam'"
          (click)="settingsService.platformInput = 'steam'"
        >
          Arcade
        </tg-button>
      </div>

      <p class="title small">
        <fa-icon icon="gamepad"></fa-icon>
        Chose default character sort:
      </p>
      <div class="fx spaced row" *ngIf="settingsService.defaultCharacterSort$ | async as defaultSort">
        <!-- POSITION -->
        <tg-button
          [active]="defaultSort === 'position'"
          (click)="settingsService.defaultCharacterSort = 'position'"
        >
          In game like
        </tg-button>

        <!-- Alphabetical -->
        <tg-button
          [toggleable]="true"
          [active]="defaultSort === 'name LTR'"
          (click)="settingsService.defaultCharacterSort = 'name LTR'"
        >
          Alphabetical (LTR)
        </tg-button>

        <!-- Alphabetical -->
        <tg-button
          [toggleable]="true"
          [active]="defaultSort === 'name RTL'"
          (click)="settingsService.defaultCharacterSort = 'name RTL'"
        >
          Alphabetical (RTL)
        </tg-button>
      </div>

      <p class="title small">
        <fa-icon icon="columns"></fa-icon>
        Drag & drop preferred content order:
        <span class="subtitle"><br>This applies to the content of cards displaying individual moves.</span>
      </p>
      <div class="fx spaced row" cdkDropList cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="onContentOrderChanged($event)">
        <tg-button *ngFor="let item of contentOrder; index as i" cdkDrag>
          {{i + 1}}. {{item}}
        </tg-button>
      </div>

      <p class="title small">
        <fa-icon icon="database"></fa-icon>
        For how many days do you wish to prefer local data over server data?
      </p>
      <div class="fx spaced row">
        <input type="number" [value]="dayInterval" (blur)="saveDayInterval($event)">
      </div>

      <p class="title small">
        <fa-icon icon="sync"></fa-icon>
        Site doesn't feel fresh?
      </p>
      <div class="fx spaced row">
        <!-- PS4 -->
        <tg-button
          (click)="forceUpdate()"
        >
          Force update
        </tg-button>
      </div>
    </div>
  </tg-card>
</div>
