@import "src/scss/variables";

:host {
  height: 100%;
  overflow-y: auto;
  padding-right: $xs-padding;

  > * {
    margin-bottom: $md-margin;
  }

  .content {
    padding: $sm-padding;
  }

  ul {
    margin: 0;
    list-style-position: inside;
  }

  .group {
    display: flex;
    flex-direction: column;


    > * {
      flex: 1;
      margin-bottom: $md-margin;
    }

    @media(min-width: $bp-mobile) {
      flex-direction: row;

      > * {
        margin-bottom: 0;

        &:first-child {
          margin-right: $sm-margin;
        }

        &:nth-child(2) {
          margin-left: $sm-margin;
        }
      }
    }


  }
}
