@import "src/scss/variables";

:host {
  height: 100%;
  overflow-y: auto;
  padding-right: $xs-padding;
  > * {
    margin-bottom: $md-margin;
  }

  .content {
    padding: $sm-padding;
  }

  ul {
    margin: 0;
    list-style-position: inside;
  }

  .pros-cons {
    display: flex;
    padding-bottom: $md-padding;

    > * {
      flex: 1;
    }

    > *:not(:last-child) {
      margin-right: $md-margin;
    }
  }
}
