@import "~src/scss/variables";


:host {
  display: flex;
  position: relative;


  .content {
    position: absolute;
    min-width: 150px;
    top: 100%;
    border: 2px solid $primary-color-light;
    border-radius: $border-radius;
    background-color: #291043;
    padding: $md-padding;


    // re-skin the ng-5 slider
    ::ng-deep {

      .custom-slider .ng5-slider .ng5-slider-selection {
        background: $secondary-color;
      }

      .custom-slider .ng5-slider .ng5-slider-pointer {
        cursor: pointer;
        width: 16px;
        height: 16px;
        top: -6px;
        background-color: $primary-color-light;
        z-index: 3;
        border-radius: 50%;

        &:after {
          display: none;
        }

        &:focus {
          outline: none;
          border: 1px solid whitesmoke;
        }
      }

      .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
        color: $secondary-color;
        font-weight: 700;
      }

      .custom-slider .ng5-slider .ng5-slider-limit {
        font-weight: 300;
        color: whitesmoke;
      }

    }

  ;
  }

}
