<div class="option-bar">
  <!-- search bar -->
  <tg-search-bar (searched)="onTextSearch($event)"></tg-search-bar>

  <!-- filters -->
  <tg-pop-over-button
    [tgBadge]="(moveService.activeFiltersCount$ | async)"
    [tgBadgeHidden]="(moveService.activeFiltersCount$ | async) === 0"
    title="Filters"
    icon="filter"
  >

    <div buttons>
      <tg-button tgTooltip="Reset current filters" icon="sync-alt" (click)="resetFilters()" [outlined]="false"></tg-button>
    </div>

    <div class="filters" style="height: 100%; overflow-y: auto">
      <!-- startup frame filter -->
      <div class="section">
        <tg-start-up-frame-filter
          [range]="moveService.startupFilter$ | async"
          (rangeChange)="filterByStartUpFrame($event)"
        ></tg-start-up-frame-filter>
      </div>


      <!-- block hit frame filter -->
      <div class="section">
        <tg-block-frame-filter
          [range]="moveService.blockFilter$ | async"
          (rangeChange)="filterByBlockFrame($event)"
        ></tg-block-frame-filter>
      </div>

      <!-- normal hit frame filter -->
      <div class="section">
        <tg-normal-frame-filter
          [range]="moveService.normalFilter$ | async"
          (rangeChange)="filterByNormalFrame($event)"
          [hitProperties]="moveService.normalProps$ | async"
          (hitPropertiesChange)="setNormalHitProperties($event)"
        ></tg-normal-frame-filter>
      </div>

      <!-- counter frame filter -->
      <div class="section">
        <tg-counter-frame-filter
          [range]="moveService.counterFilter$ | async"
          (rangeChange)="filterByCounterFrame($event)"
          [hitProperties]="moveService.counterProps$ | async"
          (hitPropertiesChange)="setCounterHitProperties($event)"
        ></tg-counter-frame-filter>
      </div>

      <!-- move property filter -->
      <div class="section">
        <tg-move-properties-filter
          [moveProperties]="moveService.moveProps$ | async"
          (movePropertiesChange)="setMoveProperties($event)"
        ></tg-move-properties-filter>
      </div>
    </div>



  </tg-pop-over-button>
</div>


<virtual-scroller #scroll [items]="movelist" class="list">
  <tg-card
    *ngFor="let move of scroll.viewPortItems; trackBy: trackByMoveId"
    [isFixedHeight]="false"
    [title]="move._id"
  >

    <!-- move name -->
    <div class="header" header>
      <div class="title">{{move.name}}</div>
      <div class="properties">
        <img [tgTooltip]="property | movePropertyText" *ngFor="let property of move.properties" [src]="property | movePropertyImg" alt="" class="property">
      </div>
    </div>

    <div class="content" content>
      <!-- actions for auth user - favorite -->
      <div class="actions">
        <tg-button [outlined]="false" [icon]="['far','star']" iconSize="2x"></tg-button>
      </div>

      <!-- main content with name, notation and hits -->
      <div class="main">
        <!-- move notation -->
        <div class="notation">{{move.notation}}</div>
        <!-- move hits -->
        <div class="hits">
          <div class="move">{{move.hit.move | hitMove}}</div>
          <div class="damage">{{move.hit.damage | hitDamage}}</div>
        </div>
      </div>


      <!-- video with the move -->
      <tg-video [src]="move.video | mediaPath" [poster]="move.video | thumbnailPath"></tg-video>
      <!--<div>video here {{move.video}}</div>-->

      <!--frame data -->
      <div class="frame-data">
        <table>
          <tr>
            <td>Start frame:</td>
            <td>{{move.frames.startUp}}
            </td>
          </tr>

          <tr>
            <td>On block:</td>
            <td
              [class.positive]="move.frames.onBlock > 0"
              [class.negative]="move.frames.onBlock < 0">
              {{move.frames.onBlock}}
            </td>
            <td *ngIf="move.hit.onBlock">
              ({{move.hit.onBlock}})
            </td>
          </tr>

          <tr>
            <td>On hit:</td>
            <td
              [class.positive]="move.frames.onHit > 0"
              [class.negative]="move.frames.onHit < 0">
              {{move.frames.onHit}}
            </td>
            <td *ngIf="move.hit.onHit">
              ({{move.hit.onHit}})
            </td>
          </tr>

          <tr>
            <td>On counter hit:</td>
            <td [class.positive]="move.frames.onCounterHit > 0"
                [class.negative]="move.frames.onCounterHit < 0">
              {{move.frames.onCounterHit}}
            </td>
            <td *ngIf="move.hit.onCounterHit">
              ({{move.hit.onCounterHit}})
            </td>
          </tr>
        </table>
      </div>

    </div>
  </tg-card>
</virtual-scroller>

<!--<div class="list">
  &lt;!&ndash; movelist &ndash;&gt;
  <tg-card
    *ngFor="let move of movelist"
    [isFixedHeight]="false"
    [title]="move._id"
  >

    &lt;!&ndash; move name &ndash;&gt;
    <div class="header" header>
      <div class="title">{{move.name}}</div>
      <div class="properties">
        <img *ngFor="let property of move.properties" [src]="property | movePropertyImg" alt="" class="property">
      </div>
    </div>

    <div class="content" content>
      &lt;!&ndash; actions for auth user - favorite &ndash;&gt;
      <div class="actions">
        <tg-button [outlined]="false" [icon]="['far','star']" iconSize="2x"></tg-button>
      </div>

      &lt;!&ndash; main content with name, notation and hits &ndash;&gt;
      <div class="main">
        &lt;!&ndash; move notation &ndash;&gt;
        <div class="notation">{{move.notation}}</div>
        &lt;!&ndash; move hits &ndash;&gt;
        <div class="hits">
          <div class="move">{{move.hit.move | hitMove}}</div>
          <div class="damage">{{move.hit.damage | hitDamage}}</div>
        </div>
      </div>


      &lt;!&ndash; video with the move &ndash;&gt;
      &lt;!&ndash; todo rework:
          <tg-video [src]="move.video | mediaPath"></tg-video>
      &ndash;&gt;
      <div>video here {{move.video}}</div>

      &lt;!&ndash;frame data &ndash;&gt;
      <div class="frame-data">
        <table>
          <tr>
            <td>Start frame:</td>
            <td>{{move.frames.startUp}}
            </td>
          </tr>

          <tr>
            <td>On block:</td>
            <td
              [class.positive]="move.frames.onBlock > 0"
              [class.negative]="move.frames.onBlock < 0">
              {{move.frames.onBlock}}
            </td>
            <td *ngIf="move.hit.onBlock">
              ({{move.hit.onBlock}})
            </td>
          </tr>

          <tr>
            <td>On hit:</td>
            <td
              [class.positive]="move.frames.onHit > 0"
              [class.negative]="move.frames.onHit < 0">
              {{move.frames.onHit}}
            </td>
            <td *ngIf="move.hit.onHit">
              ({{move.hit.onHit}})
            </td>
          </tr>

          <tr>
            <td>On counter hit:</td>
            <td [class.positive]="move.frames.onCounterHit > 0"
                [class.negative]="move.frames.onCounterHit < 0">
              {{move.frames.onCounterHit}}
            </td>
            <td *ngIf="move.hit.onCounterHit">
              ({{move.hit.onCounterHit}})
            </td>
          </tr>
        </table>
      </div>

    </div>
  </tg-card>
</div>-->


