@import "src/scss/variables";


:host {
  > *:not(:last-child) {
    margin-bottom: $sm-margin;

    @media(min-width: $bp-mobile) {
      margin-bottom: $md-margin;
    }
  }

  .option-bar {
    display: flex;
    align-items: center;

    > * {
      margin-right: $md-margin;
    }

    .right-menu {
      margin-left: auto;
    }
  }

  .list {
    // calculate the height of virtual scroller: 100% of parent - margin of option bar - height of option bar
    // mobile:
    $option-bar-height: 21px;
    height: calc(100% - #{$sm-margin} - #{$option-bar-height});

    // desktop (different margin)
    @media(min-width: $bp-mobile) {
      $option-bar-height: 21px;
      height: calc(100% - #{$md-margin} - #{$option-bar-height});
    }


    tg-card {
      margin-bottom: $sm-margin;

      @media(min-width: $bp-mobile) {
        margin-bottom: $md-margin;
      }
    }

    .header {
      display: flex;
      flex: 1;
      padding: $xs-padding;

      .title {
        flex: 1;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        display: flex;
        align-items: center;

      }

      .properties {
        display: flex;
        justify-content: flex-end;
        max-height: 24px;

        > .property {
          height: 100%;
          width: auto;

          &:not(:last-child) {
            margin-right: $xs-margin;
          }
        }

      }
    }

    .content {
      display: flex;
      flex: 1;
      padding: 0 $xs-padding $xs-padding $xs-padding;

      .actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 50px;
      }

      .group {
        flex: 1;
        display: flex;
        overflow-x: scroll;
        @media(min-width: $bp-mobile) {
          overflow-x: initial;
        }


        .main {
          display: flex;
          flex-direction: column;
          margin-right: auto;
          padding: $sm-padding 0;


          .notation {
            margin: auto 0;
            min-width: 145px;
          }

          .hits {
            font-family: 'Roboto Condensed', sans-serif;

            .move {
              color: $primary-color-highlight;
            }

            .damage {
              color: $secondary-color;
            }
          }
        }

        tg-video {
          margin: 0;
          @media(min-width: $bp-mobile) {
            margin: -$lg-margin 0 0 0;
          }
        }

        .frame-data {
          margin-top: auto;
          margin-left: $sm-margin;
          font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
          font-weight: 300;

          @media(min-width: $bp-mobile) {
            min-width: 175px;
          }

          > table {
            white-space: nowrap;
            width: 100%;

            > tr {
              > td:nth-child(2) {
                text-align: right;
              }
            }

            .positive {
              color: $primary-color-highlight;
            }

            .negative {
              color: $secondary-color;
            }


          }
        }
      }
    }
  }


}
