@import "src/scss/variables";


:host {
  > *:not(:last-child) {
    margin-bottom: $md-margin;
  }

  .option-bar {
    display: flex;
    align-items: center;
    padding-top: $xs-padding;

    > * {
      margin-right: $md-margin;
    }

    .right-menu {
      margin-left: auto;
    }
  }

  .list {
    height: calc(100% - 25px - #{$sm-margin} - #{$xs-padding});


    tg-card {
      margin-bottom: $md-margin;
    }

    .header {
      display: flex;
      flex: 1;
      padding: $xs-padding;

      .title {
        flex: 1;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
      }

      .properties {
        $height: 26px;
        max-height: $height;

        > .property {
          height: $height;
          width: $height;

          &:not(:last-child) {
            margin-right: $xs-margin;
          }
        }

      }
    }

    .content {
      display: flex;
      flex: 1;
      padding: 0 $xs-padding $xs-padding $xs-padding;

      .actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 52.5px;
      }

      .main {
        display: flex;
        flex-direction: column;
        flex: 1;

        .notation {
          margin: auto 0;
        }

        .hits {
          font-family: 'Roboto Condensed', sans-serif;

          .move {
            color: yellow;
          }

          .damage {
            color: red;
          }
        }
      }

      tg-video {
        margin-top: -$lg-margin;
      }

      .frame-data {
        min-width: 170px;
        margin-top: auto;
        padding-left: $xs-padding;
        // padding: 0 $xs-padding;

        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
        font-weight: 300;

        > table {

          > tr {
            > td:nth-child(2) {
              text-align: right;
            }
          }

          .positive {
            color: deepskyblue;
          }

          .negative {
            color: red;
          }
        }
      }
    }
  }


}
