<div class="option-bar">
  <!-- search bar -->
  <tg-search-bar #searchBar
                 (searched)="onTextSearch($event)"
                 [searchText]="moveService.searchText$ | async">
  </tg-search-bar>

  <!-- filters -->
  <tg-pop-over-button
    [tgBadge]="(moveService.activeFiltersCount$ | async)"
    [tgBadgeHidden]="(moveService.activeFiltersCount$ | async) === 0"
    title="Filters"
    icon="filter"
  >

    <div buttons>
      <tg-button tgTooltip="Reset current filters" icon="sync-alt" (click)="resetFilters()"
                 [outlined]="false"></tg-button>
    </div>

    <div class="filters" style="height: 100%; overflow-y: auto">
      <!-- startup frame filter -->
      <div class="section">
        <tg-start-up-frame-filter
          [range]="moveService.startupFilter$ | async"
          (rangeChange)="filterByStartUpFrame($event)"
        ></tg-start-up-frame-filter>
      </div>


      <!-- block hit frame filter -->
      <div class="section">
        <tg-block-frame-filter
          [range]="moveService.blockFilter$ | async"
          (rangeChange)="filterByBlockFrame($event)"
        ></tg-block-frame-filter>
      </div>

      <!-- normal hit frame filter -->
      <div class="section">
        <tg-normal-frame-filter
          [range]="moveService.normalFilter$ | async"
          (rangeChange)="filterByNormalFrame($event)"
          [hitProperties]="moveService.normalProps$ | async"
          (hitPropertiesChange)="setNormalHitProperties($event)"
        ></tg-normal-frame-filter>
      </div>

      <!-- counter frame filter -->
      <div class="section">
        <tg-counter-frame-filter
          [range]="moveService.counterFilter$ | async"
          (rangeChange)="filterByCounterFrame($event)"
          [hitProperties]="moveService.counterProps$ | async"
          (hitPropertiesChange)="setCounterHitProperties($event)"
        ></tg-counter-frame-filter>
      </div>

      <!-- move property filter -->
      <div class="section">
        <tg-move-properties-filter
          [moveProperties]="moveService.moveProps$ | async"
          (movePropertiesChange)="setMoveProperties($event)"
        ></tg-move-properties-filter>
      </div>

      <!-- move property filter -->
      <div class="section">
        <tg-hit-level-filter
          [hitLevels]="moveService.hitLevels$ | async"
          (hitLevelsChange)="setHitLevels($event)"
        ></tg-hit-level-filter>
      </div>
    </div>


  </tg-pop-over-button>

  <div class="right-menu">
    <tg-button
      [tgTooltip]="videoTooltip"
      icon="video"
      [outlined]="false"
      [active]="showVideos"
      (click)="toggleShowVideos()"
      [toggleable]="true"
    ></tg-button>
  </div>
</div>


<virtual-scroller *ngIf="movelist?.length > 0; else noMoves" #scroll [items]="movelist" class="list">
  <tg-card
    *ngFor="let move of scroll.viewPortItems; trackBy: trackByMoveId"
    [isFixedHeight]="true"
    [title]="move._id"
  >

    <!-- move name -->
    <div class="header" header>
      <div class="title">
        {{move.name}}
      </div>
      <div class="properties">
        <img [tgTooltip]="property | movePropertyText" *ngFor="let property of move.properties"
             [src]="property | movePropertyImg" alt="Move property {{property}}" class="property">
      </div>
    </div>

    <div class="content" content>


      <!-- actions for auth user - favorite -->
      <!--<div class="actions">
        <tg-button [outlined]="false" [icon]="['far','star']" iconSize="2x"></tg-button>
      </div>-->

      <!-- main content with name, notation and hits -->
      <div class="main">
        <!-- move notation -->
        <div class="notation">
          <tg-input-notation [notation]="move.notation"></tg-input-notation>
        </div>
        <!-- move hits -->
        <div class="hits">
          <div class="move">{{move.hit.move | hitMove}}</div>
          <div class="damage">{{move.hit.damage | hitDamage}}</div>
        </div>
      </div>


      <div class="group">
        <!-- video with the move -->
        <tg-video *ngIf="showVideos" [src]="move.video | mediaPath" [poster]="move.video | thumbnailPath"></tg-video>

        <!--frame data -->
        <div class="frame-data">
          <table>
            <tr>
              <td>Start frame:</td>
              <td>{{move.frames.startUp}}</td>
            </tr>

            <tr>
              <td>On block:</td>
              <td>
              <span [class.positive]="move.frames.onBlock > 0"
                    [class.negative]="move.frames.onBlock < 0">
                {{move.frames.onBlock}}
              </span>
                <span *ngIf="move.hit.onBlock">
              ({{move.hit.onBlock}})
            </span>
              </td>

            </tr>

            <tr>
              <td>On hit:</td>
              <td>
              <span [class.positive]="move.frames.onHit > 0"
                    [class.negative]="move.frames.onHit < 0">
                {{move.frames.onHit}}
              </span>
                <span *ngIf="move.hit.onHit">
              ({{move.hit.onHit}})
            </span>
              </td>

            </tr>

            <tr>
              <td>On counter hit:</td>
              <td>
              <span [class.positive]="move.frames.onCounterHit > 0"
                    [class.negative]="move.frames.onCounterHit < 0">
                {{move.frames.onCounterHit}}
              </span>
                <span *ngIf="move.hit.onCounterHit">
              ({{move.hit.onCounterHit}})
            </span>
              </td>

            </tr>

            <tr *ngIf="move.punishment">
              <td>Punish:</td>
              <td [innerHTML]="move.punishment | punishmentText">
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </tg-card>
</virtual-scroller>

<!-- EMPTY LIST -->
<ng-template #noMoves>
  <tg-empty-card></tg-empty-card>
</ng-template>
