@import "src/scss/variables";

:host {
  // re-skin the ng-5 slider
  ::ng-deep {
    .ngx-slider .ngx-slider-selection {
      background: $secondary-color;
    }

    .ngx-slider .ngx-slider-pointer {
      cursor: pointer;
      width: 16px;
      height: 16px;
      top: -6px;
      background-color: $primary-color-light;
      z-index: 3;
      border-radius: 50%;

      &:after {
        display: none;
      }

      &:focus {
        outline: none;
        border: 1px solid whitesmoke;
      }
    }

    .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
      color: $secondary-color;
      font-weight: 700;
    }

    .ngx-slider .ngx-slider-limit {
      font-weight: 300;
      color: whitesmoke;
    }

  }
}
