@import "src/scss/variables";


:host {
  //margin-bottom: $sm-margin !important;


  display: flex;

  .avatar {
    max-width: $character-avatar-width-detail-mobile;
    max-height: $character-avatar-height-detail-mobile;

    @media(min-width: $bp-mobile) {
      max-width: $character-avatar-width-detail;
      max-height: $character-avatar-height-detail;
    }


    > img {
      height: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0 $sm-margin;
    @media(min-width: $bp-mobile) {
      margin: 0 $lg-margin;
    }

    .difficulty {
      display: flex;
      align-items: center;
      $dot-border-size: 3px;

      .dot {
        $dot-size: 5px;
        height: $dot-size;
        width: $dot-size;
        margin-right: $xs-margin;

        @media(min-width: $bp-mobile) {
          $dot-size: 8px;
          height: $dot-size;
          width: $dot-size;
          margin-right: $sm-margin;
        }

        border-radius: 50%;


        &.easy {
          border: $dot-border-size solid #3DD618;
        }

        &.medium {
          border: $dot-border-size solid yellow;
        }

        &.hard {
          border: $dot-border-size solid red;
        }
      }

      .text {
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 1rem;

        @media(min-width: $bp-mobile) {
          font-size: 0.85rem;
        }
      }
    }
  }

}
