<div class="wrapper" [class.reverse]="reverse">
  <div class="avatar">
    <img [src]="character.avatar | mediaPath"/>
  </div>

  <div class="info">
    <!-- FULLNAME -->
    <div class="title">
      {{character.fullName}}
    </div>

    <!-- DIFFICULTY -->
    <div class="difficulty">
    <span
      class="dot"
      [class.easy]="character.difficulty === 1"
      [class.medium]="character.difficulty === 2"
      [class.hard]="character.difficulty === 3"
    >
  </span>
      <div class="text">{{character.difficulty | characterDifficulty}}</div>
    </div>

  </div>

</div>
