<tg-filter-template
  title="Hit levels:"
  [filterType]="hitFilterType"
  (filterTypeChange)="hitFilterTypeChange.emit($event)"
>

  <ng-container properties-presets>
    <tg-button (click)="toggleProperty('L')" [active]="hitLevels | includes:'L'">LOW</tg-button>
    <tg-button (click)="toggleProperty('M')" [active]="hitLevels | includes:'M'">MID</tg-button>
    <tg-button (click)="toggleProperty('H')" [active]="hitLevels | includes:'H'">HIGH</tg-button>
  </ng-container>
</tg-filter-template>
