<tg-filter-template
  title="Hit levels:"
  [withFilterType]="true"
>
  <ng-container filter-type>
    <tg-button [outlined]="false" (click)="hitFilterTypeChange.emit('contains')" [active]="hitFilterType === 'contains'">Contains</tg-button>
    <tg-button [outlined]="false" (click)="hitFilterTypeChange.emit('only')" [active]="hitFilterType === 'only'">Only</tg-button>
    <tg-button [outlined]="false" (click)="hitFilterTypeChange.emit('starts-with')" [active]="hitFilterType === 'starts-with'">Starts with</tg-button>
    <tg-button [outlined]="false" (click)="hitFilterTypeChange.emit('ends-with')" [active]="hitFilterType === 'ends-with'">Ends with</tg-button>
  </ng-container>

  <ng-container properties-presets>
    <tg-button (click)="toggleProperty('L')" [active]="hitLevels | includes:'L'">LOW</tg-button>
    <tg-button (click)="toggleProperty('M')" [active]="hitLevels | includes:'M'">MID</tg-button>
    <tg-button (click)="toggleProperty('H')" [active]="hitLevels | includes:'H'">HIGH</tg-button>
  </ng-container>
</tg-filter-template>
