@import "src/scss/variables";


:host {
  display: flex;
  justify-content: space-evenly;


  > a {
    flex: 1 1 0;
    padding: $xs-padding;

    // mobile first
    @media(min-width: $bp-mobile) {
      padding: $sm-padding;
    }

    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid $secondary-color;

    &.active {
      border-bottom: 4px solid $secondary-color;
    }
  }
}
