@import "src/scss/variables";


:host {
  display: flex;
  justify-content: space-evenly;


  > a {
    flex: 1 1 0;
    padding: $xs-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.775rem;

    // mobile first
    @media(min-width: $bp-mobile) {
      font-size: 0.85rem;
    }

    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid $secondary-color;

    &.active {
      border-bottom: 4px solid $secondary-color;
    }
  }
}
