@import "src/scss/variables";

:host {
  display: flex;
  align-items: center;

  .input-image {
    height: $input-image-size-mobile;
    width: $input-image-size-mobile;

    @media(min-width: $bp-mobile) {
      height: $input-image-size;
      width: $input-image-size;
    }

  }

  .input-text {
    font-family: 'Roboto Condensed', sans-serif;
    white-space: nowrap;
  }
}
