@import "src/scss/variables";

:host {

  .list {
    height: calc(100% - #{$md-margin});

    tg-card-with-actions {
      ::ng-deep{
        tg-card {
          height: $card-height-small;
        }
      }

      // CARD CONTENT
      .notation-wrapper{
        display: flex;
        padding-top: 5rem; // put it back in center due to overflow
        .notation {
          .chevron {
            color: #37ff05;
          }
        }
      }
    }
  }


}
