@import "src/scss/variables";

:host {

  .list {
    height: calc(100% - #{$md-margin});

    .combo-category {
      margin-bottom: 2.5rem;

      .header {
        display: flex;
        align-items: center;
        padding: $sm-padding 0;

        > :not(:last-child) {
          margin-right: $sm-margin;
        }
      }
    }

    tg-card-with-actions {
      ::ng-deep {
        tg-card {
          height: $card-height-small;

          .main {
            .content-placeholder {
              .content-container {
                height: $card-height-small !important;
              }
            }
          }
        }
      }

      // CARD CONTENT
      .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: auto;
        white-space: nowrap;

        .notation-wrapper {
          display: flex;
          padding-top: 4.5rem; // put it back in center due to overflow
          .notation {
            .chevron {
              color: #37ff05;
            }
          }
        }

        .hits {
          font-family: 'Roboto Condensed', sans-serif;

          .move {
            color: $primary-color-highlight;
          }

          .damage {
            color: $secondary-color;
          }
        }
      }
    }
  }


}
