<div class="tg-container" [class.fluid]="isFirstColActive && isSecondColActive && !isMobile">
  <div class="top-row">
    <tg-character-header
      *ngIf="firstCharacter$ | async as character"
      [character]="character"
      [class.active]="isFirstColActive"
      (click)="onCharacterHeaderClick(true)"
    >
    </tg-character-header>

    <div *ngIf="timeElapsed$ | async as time"
         class="timer"
         [class.small]="time.length < 3"
         [class.medium]="time.length >=3 && time.length < 6"
         [class.large]="time.length >= 6">
      {{time}}
    </div>

    <tg-character-header
      *ngIf="secondCharacter$ | async as character" [character]="character"
      [class.active]="isSecondColActive"
      (click)="onCharacterHeaderClick(false)"
      class="reversed">
    </tg-character-header>

  </div>
  <div class="bottom-row">
    <tg-tabs [tabs]="firstCharacterTabs" [class.active]="isFirstColActive"></tg-tabs>
    <tg-tabs [tabs]="secondCharacterTabs" [class.active]="isSecondColActive"></tg-tabs>
  </div>

  <div class="content">
    <div class="col" [class.active]="isFirstColActive">
      <tg-named-router [isFirstTab]="true"></tg-named-router>
    </div>

    <div class="col" [class.active]="isSecondColActive">
      <!--<router-outlet name="tab2"></router-outlet>-->
      <tg-named-router [isFirstTab]="false"></tg-named-router>
    </div>

  </div>

</div>
