<div class="tg-container">
  <div class="header">
    <tg-character-header *ngIf="firstCharacter$ | async as character" [character]="character"></tg-character-header>
    <div *ngIf="timeElapsed$ | async as time"
         class="timer"
         [class.small]="time.length < 3"
         [class.medium]="time.length >=3 && time.length < 6"
         [class.large]="time.length >= 6">
      {{time}}
    </div>
    <tg-character-header *ngIf="secondCharacter$ | async as character" [character]="character" [reverse]="true"></tg-character-header>
  </div>

  <div class="content">
    <div class="col">
      <router-outlet name="tab1"></router-outlet>
    </div>

    <div class="col">
      <router-outlet name="tab2"></router-outlet>
    </div>

  </div>

</div>
