<!-- DESKTOP SIDEBAR -->
<div class="side-bar" fxShow="true" fxHide.lt-md="true">
  <div class="item">
    <span class="logo small">TG</span>
  </div>

  <a class="item"
       routerLinkActive="active"
       [routerLink]="menuItem.routeTo"
       *ngFor="let menuItem of menuItems">
    <fa-icon *ngIf="menuItem.icon" [icon]="menuItem.icon" size="2x"></fa-icon>
  </a>
</div>

<!-- MOBILE SIDEBAR -->
<div class="side-bar mobile" *ngIf="isMobileSidebarOpen" [@inOutAnimation]>
  <button (click)="isMobileSidebarOpen = false">
    <fa-icon [icon]="closeIcon"></fa-icon>
  </button>

  <div *ngFor="let menuItem of menuItems">
    <a style="color: white" [routerLink]="menuItem.routeTo">{{menuItem.title}}</a>
  </div>
</div>

<!-- MAIN CONTAINER -->
<div class="main-bar">
  <!-- TOOLBAR -->
  <div class="toolbar">
    <div fxShow fxHide.gt-sm>
      <button (click)="isMobileSidebarOpen = true">
        <fa-icon [icon]="menuIcon"></fa-icon>
      </button>
      <span class="logo">TG</span>
    </div>

    <div class="right-menu">
      <tg-button text="SIGN IN"></tg-button>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
