<!-- TITLE -->
<div style="display: flex; align-items: center; justify-content: space-between">
  <span class="small title highlighted">{{title}}</span>
  <tg-pop-over-button [withHeader]="false" title="Filter type settings" icon="cog" *ngIf="filterType">
    <tg-button [outlined]="false" (click)="filterTypeChange.emit('contains')" [active]="filterType === 'contains'">Contains</tg-button>
    <tg-button [outlined]="false" (click)="filterTypeChange.emit('only')" [active]="filterType === 'only'">Only</tg-button>
    <tg-button [outlined]="false" (click)="filterTypeChange.emit('starts-with')" [active]="filterType === 'starts-with'">Starts with</tg-button>
    <tg-button [outlined]="false" (click)="filterTypeChange.emit('ends-with')" [active]="filterType === 'ends-with'">Ends with</tg-button>
  </tg-pop-over-button>
</div>

<!-- PRESETS -->
<div class="presets" [class.hidden]="!showFramePresets">
  <span class="subtitle">Presets:</span>
  <div class="buttons" #framePresets>
    <ng-content select="[frame-presets]"></ng-content>
  </div>
</div>

<!-- SLIDER -->
<tg-slider
  *ngIf="sliderOptions"
  [range]="range"
  (rangeChange)="rangeChange.emit($event)"
  [options]="sliderOptions">
</tg-slider>

<!-- PROPS -->
<div class="presets" [class.hidden]="!showHitPropsPresets">
  <span class="subtitle">Properties:</span>
  <div class="buttons" #hitPropsPresets>
    <ng-content select="[properties-presets]"></ng-content>
  </div>
</div>
