@import "src/scss/variables";

:host {
  .presets {
    display: flex;
    flex-direction: column;
    margin: $sm-margin 0;

    .subtitle {
      margin-bottom: $xs-margin;
    }

    &.hidden {
      display: none;
    }

    .buttons {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;

      ::ng-deep > * {
        &:not(:last-child) {
          margin-right: $sm-margin;
        }

        margin-bottom: $sm-margin;
      }
    }
  }
}
