@import "src/scss/variables";

:host {
  $vid-height-mobile: 105px;
  $vid-width-mobile: 185px;

  $vid-height: 124px;
  $vid-width: 214px;


  position: relative;
  display: flex;

  video {
    &::-webkit-media-controls-fullscreen-button {
      display: none;
    }

    &::-webkit-media-controls-volume-slider {
      display: none;
    }

    &::-webkit-media-controls-mute-button {
      display: none;
    }


    object-fit: fill;

    &.fixed-height {
      height: $vid-height-mobile;
      width: $vid-width-mobile;

      @media(min-width: $bp-mobile) {
        height: $vid-height;
        width: $vid-width;
      }


      &[poster] {
        height: $vid-height-mobile;
        width: $vid-width-mobile;

        @media(min-width: $bp-mobile) {
          height: $vid-height;
          width: $vid-width;
        }
      }
    }
  }

  .controls {
    position: absolute;
    top: 0;
    width: 100%;


    .row {
      display: flex;
      padding: $xs-padding;

      #expand {
        margin-left: auto;
      }
    }
  }
}
