<video preload="none"
       [poster]="poster"
       #videoElement
       [class.fixed-height]="fixedHeight"

>
  <source [src]="src" [type]="mediaType">
</video>

<div class="controls" (click)="playVideo()">
  <!-- TOP ROW: playback speed, expand -->
  <div class="row top">
    <tg-button id="playback-rate" [outlined]="false" [icon]="playbackSpeedIcon"></tg-button>
    <tg-button id="expand" [outlined]="false" icon="expand"></tg-button>
  </div>

  <!-- CENTER ROW: play/pause display -->
  <div class="row center">

  </div>

  <!-- BOTTOM ROW: track bar -->
  <!-- todo https://www.creativebloq.com/html5/build-custom-html5-video-player-9134473,
  https://stackoverflow.com/questions/41953604/html5-video-custom-additional-seek-bar,
  https://www.sitepoint.com/community/t/how-to-make-custom-html5-video-player-with-custom-seek-bar/301705
  -->
  <div class="row bottom">
    <input
      id="seekbar"
      #seekbar
      type="range"
      min="0"
      max="100"
      value="0"
      aria-label="Video seekbar"
      
    >
  </div>

</div>
