@import "src/scss/variables";

:host {
  $vid-height-mobile: 115px;
  $vid-width-mobile: 204px;

  $vid-height: 125px;
  $vid-width: 235px;


  position: relative;
  display: flex;
  cursor: pointer;

  video {
    object-fit: fill;

    &.fullscreen {
      object-fit: scale-down;
      width: 100% !important;
      height: auto !important;
    }

    border-radius: $border-radius;

    &.fixed-height {
      height: $vid-height-mobile;
      width: $vid-width-mobile;

      @media(min-width: $bp-mobile) {
        height: $vid-height;
        width: $vid-width;
      }


      &[poster] {
        height: $vid-height-mobile;
        width: $vid-width-mobile;

        @media(min-width: $bp-mobile) {
          height: $vid-height;
          width: $vid-width;
        }
      }
    }
  }

  .controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    .row {
      display: flex;

      &.top {
        padding: $xs-padding;

        #expand {
          margin-left: auto;
        }

        #playback-speed-btn {
          position: relative;

          .playback-speed-pop-over {
            position: absolute;
            top: 0;
            left: 50%;
            background: rgba(0, 0, 0, 0.75);
            width: 125px;
            padding: $sm-padding;

            .text {
              font-size: 0.75rem;
            }
          }
        }
      }

      &.center {
        flex: 1;
        justify-content: center;
        align-items: center;

        .current-icon {
          color: white;
        }
      }

      &.bottom {
        padding: $xs-padding;
      }
    }
  }
}
