<video preload="metadata"
       [class.fullscreen]="isFullscreen"
       [poster]="poster"
       #videoElement
       [class.fixed-height]="fixedHeight"

>
  <source [src]="src" [type]="mediaType">
</video>

<div class="controls" (click)="togglePlay();">
  <!-- TOP ROW: playback speed, expand -->
  <div class="row top">
    <!-- playback speed -->
    <tg-button
      id="playback-speed-btn"
      (outOfBoundsClicked)="isPlaybackOverlayOpen = false"
      [outlined]="false"
      [icon]="playbackSpeedIcon"
      (click)="isPlaybackOverlayOpen = !isPlaybackOverlayOpen; $event.stopPropagation()"
    >
      <div *ngIf="isPlaybackOverlayOpen" class="playback-speed-pop-over">
        <span class="text">Playback speed: {{videoElement.playbackRate}}x</span>
        <input
          (click)="$event.stopPropagation()"
          class="tg-range" type="range"
          min="0.1"
          max="1"
          step="0.1"
          (input)="onPlaybackSpeedChange($event)"
          [value]="videoElement.playbackRate">
      </div>
    </tg-button>

    <!-- expand -->
    <tg-button
      id="expand"
      [outlined]="false"
      (click)="toggleExpand($event)"
      icon="expand">
    </tg-button>
  </div>

  <!-- CENTER ROW: play/pause display -->
  <div class="row center">

  </div>

  <!-- BOTTOM ROW: track bar -->
  <div class="row bottom">
    <input
      class="tg-range"
      #seekbar
      type="range"
      min="0"
      max="100"
      value="0"
      aria-label="Video seekbar"
      (click)="$event.stopPropagation()"

    >
  </div>

</div>
