<div class="tg-container">
  <div class="tarrget-title">Dashboard</div>

  <tg-card title="Welcome">
    <div content>
      <p>Welcome to Tekken.guru, a web application containing move lists of all the characters from the game,
        including a video of every move and frame data with the ability to apply a variety of filters to find the move
        you are looking for. Along with the move lists you can find recommended punishes, key moves, combos and a
        written overview for each
        character.</p>

      <p>The app should work both on desktop and mobile, including in offline. For best mobile experience, don't forget
        to install the actual PWA with the <strong class="secondary">"Add to Home Screen"</strong> button.</p>
    </div>
  </tg-card>

  <tg-card title="Support">
    <div content>
      <p>If you wish to help me feed the hamsters and support this project you can do so with BTC at this address:
        <strong class="secondary">34uBaVWygjPiazMv2EuK7fQHGyLBAGkh22</strong>
      </p>
      <p>Thank you very much, kind stranger!</p>
    </div>
  </tg-card>

  <tg-card title="Thanks to">
    <div content>
      <p>First of all I would like to disclaim, that all the data on this site belongs to Bandai Namco and I hold no
        copyright claims over them. Thanks for this awesome game, BM.</p>

      <p>This site would not be possible without the help of few a people that I would like to mention:</p>
      <ul>
        <li><strong>Fergus</strong> - for allowing me to use part of this written character guides for the overview texts.
          Check out his
          <a class="secondary underline" href="https://www.twitch.tv/fergus2k8" target="_blank">twitch</a> for good tekken content.
        </li>
        <li><strong>mspkvp</strong> - the notation assets were borrowed from his <a class="secondary underline" href="https://github.com/mspkvp/tk7movespretty">https://github.com/mspkvp/tk7movespretty</a></li>
        <li><strong>TOOLASSISTED</strong>  - parts of the data were scraped from <a class="secondary underline" href="https://toolassisted.github.io/T7/MOVELIST/">TOOLASSISTED's github repo</a>.</li>
        <li><strong>TLNBS2405</strong> - parts of the data were scraped from <a class="secondary underline" href="https://github.com/TLNBS2405/mokujin">TLNBS2405's github page</a></li>
      </ul>
    </div>
  </tg-card>

  <tg-card title="Bug hunt">
    <div content>
      <p>I have created a semi automate way, so I can add characters and their data rather quickly, however there will
        be errors that will need a manual fix. If you wish to participate, I will be eternally grateful for any sort of bug
        report and/or an incorrect data report, please do so on the <a tgDiscordLink>tekken.guru discord server.</a></p>
    </div>
  </tg-card>

  <tg-card title="Roadmap">
    <div content>
      <p>I am more or less done with the core of the app and now the main focus is to sanitize all the
        errors in the data and fill out the key moves and combos for all characters.</p>

      <ol>
        <li>Sorting. (by damage, frames, hits, ...)</li>
        <li>Ability to add moves to favorites. (Offline storage or online with auth?)</li>
        <li>Ability to filter throws.</li>
        <li>Ability to copy link for specific move. (e.g. characters/leroy/movelist/#002)</li>
      </ol>
    </div>
  </tg-card>
</div>
