<div class="tg-container">
  <div class="tarrget-title">Dashboard</div>

  <tg-card title="Welcome">
    <div content>
      <p>Welcome to Tekken.guru, a web application containing move lists of all the characters from the game,
        including a video of every move and frame data with the ability to apply a variety of filters to find the move
        you are looking for. Along with the move lists you can find recommended punishes, key moves, combos and a
        written overview for each
        character.</p>

      <p>The app should work both on desktop and mobile, including in offline. For best mobile experience, don't forget
        to install the actual PWA with the <strong class="secondary">"Add to Home Screen"</strong> button.</p>
    </div>
  </tg-card>

  <tg-card title="Thanks to">
    <div content>
      <p>First of all I would like to disclaim, that all the data on this site belongs to Bandai Namco and I hold no
        copyright claims over them. Thanks for this awesome game, BM.</p>

      <p>This site would not be possible without the help of few a people that I would like to mention:</p>
      <ul>
        <li><strong>Fergus</strong> for allowing me to use part of this written character guides for the overview texts.
          Check out his
          <a class="secondary underline" href="https://www.twitch.tv/fergus2k8" target="_blank">twitch</a> for good tekken content.
        </li>
      </ul>
    </div>
  </tg-card>

  <tg-card title="Bug hunt">
    <div content>
      <p>I have created a semi automate way, so I can add characters and their data rather quickly, however there will
        be errors that will need a manual fix. If you wish to participate, I will be eternally grateful for any sort of bug
        report and/or an incorrect data report, please do so on the <a class="secondary underline" href="https://discord.gg/fZwvttrt" target="_blank">tekken.guru discord server.</a></p>
    </div>
  </tg-card>

  <tg-card title="Roadmap">
    <div content>
      <p>I am more or less done with the core of the app and now the main focus is to provide all the data, but there
        are still a few things on my mind that I would like to slowly implement.</p>

      <ol>
        <li>Ability to add moves to favorites - dilemma between offline and online storage. Pros and cons for each.</li>
        <li>Sorting. (by damage, frames, hits, ...)</li>
        <li>Filtering by hit level - ability to toggle between <i>all hits</i> vs <i>at least one</i> (currently only the latter is implemented).</li>
        <li>Ability to filter throws.</li>
        <li>Ability to copy link for specific move. (e.g. characters/leroy/movelist/#002)</li>
        <li>Input notation display settings - tired of playstation layout?</li>
      </ol>
    </div>
  </tg-card>
</div>
