<tg-card
  [title]="title"
>

  <!-- move name -->
  <div class="header" header>
    <div class="title">
      {{subtitle}}
    </div>
    <ng-content select="[properties]"></ng-content>
  </div>

  <!-- main wrapper with actions and content -->
  <div class="main" content>
    <!-- actions for auth user - favorite -->
    <div class="actions">
      <ng-content select="[actions]"></ng-content>
    </div>

    <!-- the actual content after actions -->
    <div class="content-placeholder">
      <div class="content-container">
        <div class="content">
          <ng-content select="[content]"></ng-content>
        </div>
      </div>
    </div>

  </div>
</tg-card>
