<tg-filter-template
  title="Counter hit frame:"
  [range]="range"
  [sliderOptions]="options"
  (rangeChange)="onRangeChange($event)"
>
  <ng-container frame-presets>
    <tg-button (click)="setMinusFrames()">MINUS</tg-button>
    <tg-button (click)="setNeutralFrames()">NEUTRAL</tg-button>
    <tg-button (click)="setPlusFrames()">PLUS</tg-button>
  </ng-container>

  <ng-container properties-presets>
    <tg-button (click)="toggleKnockDownProperty()" [active]="hitProperties | includes:'KND'">KND</tg-button>
    <tg-button (click)="toggleLaunchProperty()" [active]="hitProperties | includes:'LAUNCH'">LAUNCH</tg-button>
    <tg-button (click)="toggleCrouchProperty()" [active]="hitProperties | includes:'CROUCH'">CROUCH</tg-button>
  </ng-container>
</tg-filter-template>
