@import "src/scss/variables";


:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  tg-search-bar{
    margin-bottom: $sm-margin;
  }

  .items {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    .character-card {
      width: $character-avatar-width;
      background-color: $primary-color-light;
      height: $character-avatar-height;
      margin: $xs-margin;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #ffffff;

      &:hover {
        background-color: $secondary-color;
      }

      &.selected {
        background-color: $secondary-color;
      }
    }
  }
}
