@import "src/scss/variables";


:host {

  .items {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;



    .character-card {
      width: $character-avatar-width;
      background-color: $secondary-color;
      height: $character-avatar-height;
      margin: $xs-margin;
      cursor: pointer;

      &:hover {
        background-color: $primary-color-highlight;
      }

      &.selected {
        background-color: $primary-color-highlight;
      }
    }
  }
}
