@import "src/scss/variables";

:host {
  display: flex;

  .custom-select {
    display: flex;
    justify-content: center;
    align-items: absolute;
  }

  select {
    /* Reset Select */
    appearance: none;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1rem;
    color: whitesmoke;
    background-color: $primary-color-dark;
    background-image: none;
    cursor: pointer;
    font-weight: 600;
  }

  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }

  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 8rem;
    height: 2.25rem;
    border-radius: $border-radius;
    overflow: hidden;
  }

  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    transition: .25s all ease;
    pointer-events: none;
  }

  /* Transition */
  .select:hover::after {
    color: $ternary-color;
  }

}
