@import "~src/scss/variables";


:host {
  > *:not(:last-child) {
    margin-bottom: $md-margin;
  }

  .filters {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: $sm-margin;
    }
  }
}
