$side-bar-width: 60px;
$side-bar-mobile-width: 150px;
$tool-bar-height: 50px;

$xs-margin: 0.25rem;
$sm-margin: 0.5rem;
$md-margin: 1rem;
$lg-margin: 1.25rem;
$xl-margin: 1.5rem;

$xs-padding: 0.25rem;
$sm-padding: 0.5rem;
$md-padding: 1rem;
$lg-padding: 1.5rem;

$scrollbar-width: 8px;
$scrollbar-height: 5px;

$character-avatar-width: 60px;
$character-avatar-height: 90px;

$character-avatar-width-mobile: 30px;
$character-avatar-height-mobile: 45px;

$input-image-size: 35px;
$input-image-size-mobile: 30px;

$card-height: 160px;
$card-height-small: 120px;
$card-header-min-height: 30px;
$border-radius: 0.3rem;

/*----------------------------------------------------------
# BREAKPOINTS
----------------------------------------------------------*/
$bp-mobile: 640px;

/*----------------------------------------------------------
# COLOURS
----------------------------------------------------------*/
$primary-color-dark: #08212D;
$primary-color: #1D3557;
$primary-color-light: #457B9D;
$primary-color-highlight: #00BFFF;

$secondary-color: #E63946;
$ternary-color: #FFDD4B;


/*
$primary-color-dark: #011f41;
$primary-color: #2663a7;
$primary-color-light: #167be7;

$secondary-color: #EA4335;
*/


/*
$primary-color-dark: #291043;
$primary-color: #582B85;
$primary-color-light: #9046DC;

$secondary-color: #D07505;
 */
