@import '~@angular/cdk/overlay-prebuilt.css';
@import "./variables";

@font-face {
  font-family: Tarrget;
  src: url("/assets/fonts/tarrget.ttf") format('truetype');
  src: url("/assets/fonts/tarrget.woff") format('woff2');
  src: url("/assets/fonts/tarrget.woff") format('woff');
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-size: 14px;
  color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a {
    color: whitesmoke;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: $scrollbar-width; /* width of the entire scrollbar */
  height: $scrollbar-height;
}

/*::-webkit-scrollbar-track {
  background: $primary-color; !* color of the tracking area *!
  border-radius: 4px;
}*/

::-webkit-scrollbar-thumb {
  background-color: $primary-color-light; /* color of the scroll thumb */
  border-radius: 4px;
}

.tg-container {
  max-width: 1275px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: $sm-padding $xs-padding 0 $xs-padding;
  @media(min-width: $bp-mobile) {
    padding: $sm-padding $md-padding 0 $md-padding;
  }

  > *:not(router-outlet) {
    &:not(:last-child) {
      margin-bottom: $md-margin;

    }
  }

  &.fluid {
    max-width: 100%;
  }
}

.title {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;

  @media(min-width: $bp-mobile) {
    font-size: 1.75rem;
  }

  &.small {
    font-size: 0.75rem;

    @media(min-width: $bp-mobile) {
      font-size: 1rem;
    }
  }
}

// punishment text colors
.standing {
  color: $primary-color-highlight;
}

.crouching {
  color: $ternary-color;
}

.subtitle {
  font-size: 0.85rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.tg-badge {
  pointer-events: none;
  $size: 1rem;
  position: absolute;
  top: -25%;
  left: 70%;
  font-size: 0.7rem;
  line-height: $size;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $secondary-color;
  color: #ffffff;
  text-align: center;

  &.hidden {
    display: none;
  }
}


.filters {
  .section {
    padding: $md-padding;

    &:not(:last-child) {
      border-bottom: 1px solid $primary-color;
    }
  }
}

.scrollable-content {
  width: calc(100% - #{$xs-padding}) !important;
}

.subscreen {
  overflow: hidden;
  height: 100%;
}

.tg-range {
  $focus-background: #81acc7;
  $thumb-size: 15px;
  $track-height: 5px;
  $track-border-radius: 10px;
  width: 100%;
  margin: 5px 0;
  background-color: transparent;

  // this combination works on mobile that prevents scrolling
  -webkit-appearance: media-slider;
  @media(min-width: $bp-mobile) {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: $focus-background;
    }
  }

  &::-webkit-slider-runnable-track {
    background: $primary-color-light;
    border: 0;
    border-radius: $track-border-radius;
    width: 100%;
    height: $track-height;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    margin-top: -5px;
    width: $thumb-size;
    height: $thumb-size;
    background: $secondary-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    background: $primary-color-light;
    border: 0;
    border-radius: $track-border-radius;
    width: 100%;
    height: $track-height;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: $thumb-size;
    height: $thumb-size;
    background: $secondary-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: $track-height 0;
    color: transparent;
    width: 100%;
    height: $track-height;
    cursor: pointer;
  }

  &::-ms-fill-lower {
    background: #264356;
    border: 0;
    border-radius: 20px;
    &:focus{
      background: $primary-color-light;
    }
  }

  &::-ms-fill-upper {
    background: $primary-color-light;
    border: 0;
    border-radius: 20px;
    &:focus{
      background: $focus-background;
    }
  }

  &::-ms-thumb {
    width: $thumb-size;
    height: $thumb-size;
    background: $secondary-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }

}
