@import "~src/scss/variables";

:host {

  div {
    color: whitesmoke;
    border-radius: $border-radius;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .icon {
    justify-content: space-between;
  }

  .text {
    margin: $sm-margin $md-margin;
  }


  .outlined {
    border: 1px solid whitesmoke;
    background-color: transparent;
  }
}
