@import "src/scss/variables";

:host {
  .presets {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;

      >*:not(:last-child) {
        margin-right: $sm-margin;
      }
    }
  }
}
